$input-height: 32px;
$tabs-toast-height: 40px;
$font-size: 14px;

$color-primary:#409EFF;
$color-success:#67C23A;
$color-info:#909399;
$color-warning:#E6A23C;
$color-danger:#F56C6C;

$color-primary-hover:#66b1ff;
$color-success-hover:#85ce61;
$color-info-hover:#a6a9ad;
$color-warning-hover:#ebb563;
$color-danger-hover:#f78989;
//input button 公用
$border-color: #dcdfe6;
//button组件样式
$button-height:40px;
$button-default-color: white;
$button-active-bg: #eee;
$border-radius: 4px;
$border-color-popover:#333;
$border-color-ddd: #ddd;
$border-color-blue: blue;
$border-color-hover: $color-primary;
$border-color-light: lighten($border-color,30%);
$box-color: rgba(0,0,0,.5);
$button-default-hover-bg:#ecf5ff;
$button-default-border-color-hover:#3a8ee6;
$button-default-action-bg:$button-default-hover-bg;
$button-default-border-color:#c6e2ff;
$button-disabled-color:#c0c4cc;
$button-disabled-border-color:#ebeef5;
//input组件
$input-placeholder-color:#C0C4CC;
$input-border-color:$border-color;

//message 组件
$message-info-border-color:$button-disabled-border-color;
$message-info-bg-color:#edf2fc;
$message-success-border-color:#e1f3d8;
$message-success-bg-color:#f0f9eb;

$message-warning-border-color:#fdf6ec;
$message-warning-bg-color:#faecd8;
$message-error-border-color:#fef0f0;
$message-error-bg-color:#fde2e2;

$color: #333;
$color-blue: blue;
$color-disabled: grey;
// error
$red: #F1453D;

